/* Container */
.container {
    margin-top: 120px;
    max-width: 1260px;
}

/* Titulo */

.formulario {
    display: flex;
    align-items: center;
    margin-top: 120px;
}

.cadastro__texto {
    font-family: var(--fonte-fred);
    font-size: 7.2rem;
    text-align: center;
    color: var(--var-preto);
}

/* Icones */

.icone__cadastro {
    color: var(--var-azul);
    display: flex;
    font-size: 6rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2.4rem;
    margin-top: 2.4rem;
}

/* Formulario */

.form__cadastro__titulo {
    color: var(--var-azul);
    font-family: var(--fonte-karla);
    font-size: 3.8rem;
    font-weight: bold;
    text-align: center;
}

/* Inputs e labels*/
.form__group {
    color: var(--var-preto);
    font-family: var(--fonte-karla);
    font-size: 1.6rem;
}

.form__control {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid var(--var-preto);
    background-color: var(--var-branco);
    box-sizing: border-box;
    margin-top: 2.4rem;
    outline: none;
    transition: all .5s;
    padding: 0.5rem 0;
    width: 100%;
}

.form__control::placeholder {
    color: transparent;
}

.form__control:focus {
    border-color: var(--var-azul);
}

.form__control:focus + .form__label,
.form__control:not(:placeholder-shown) + .form__label {
    transform: translateY(-2.5em) scale(0.8);
    color: var(--var-azul);
    
}

.form__label {
    font-size: 1.8rem;
    opacity: 1;
    transform: translateY(-1.8em);
    transform-origin: 0 0;
    transition: all .3s;
}

.form__cadastro__action {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cadastro__botao {
    border: none;
    border-radius: 50px;
    background-color: var(--var-azul);
    color: var(--var-branco);
    font-family: var(--fonte-karla);
    font-size: 1.6rem;
    margin-right: 2.4rem;
    padding: 1.6rem;
    width: 100%;
}

.form__texto{
    color: var(--var-preto);
    font-family: var(--fonte-karla);
    font-size: 1.6rem;
    text-decoration: none;
    max-width: 190px;
}

.form__texto:hover{
    color: var(--var-vermelho);
    transition: all 100ms;
}

/* Imagem cadastro */

.img__cadastro {
    background-image: url('../../../../assets/img/cadastro-img.png');
    background-repeat: no-repeat;
    background-size: auto;
    max-width: 725px;
    height: 727px;
    background-repeat: no-repeat;
}