<app-navbar-ext></app-navbar-ext> 
<div class="container">
    <div class="row justify-content-center cadastro">
        <div class="col-md-10">
            <h1 class="cadastro__texto">Comece agora a transformar 
                sua vida financeira</h1>
        </div>
    </div>
    <div class="row justify-content formulario">
        <div class="col-md-5 form__cadastro">
            <h1 class="form__cadastro__titulo">Crie sua conta</h1>
            <div class="icone__cadastro">
                <i class="fab fa-google-plus">Google</i>
                <i class="fab fa-facebook">facebook</i>
            </div>
            <form action="">
                <div class="input__container">
                    <label class="label__name">Nome completo</label>
                    <input class="input__name" type="text"><br>
                    <label class="label__email">E-mail</label>
                    <input class="input__email" type="email"><br>
                    <label class="label__senha">Senha</label>
                    <input class="input__senha" type="password"><br>
                    <label class="label__senhaC">Confirme sua senha</label>
                    <input class="input__senhaC" type="password"><br>
                </div>
                <div>
                    <input class="cadastro__botao" type="button" value="Cadastrar">
                    <h1 class="form__texto">Já possui uma conta?Faça login.</h1>
                </div>
            </form>            
        </div>
        <div class="col-md-7 img__cadastro">
            
        </div>
    </div>
</div>