/* Container */
.container {
    max-width: 1260px;
    margin-top: 12rem;
}

/* Div perfil */

.area__perfil {
    display: flex;
    flex-direction: row;
}
.img__perfil {
    border: 100%;
}

.texto__perfil {
    margin-left: 2.4rem;
}

.paragrafo__perfil {
    font-family: var(--fonte-karla);
    font-size: 1.6rem;
    margin-top: 0.8rem;
    max-width: 300px;
}


/* Divs, inputs e titulo - dados */

.titulo__perfil, .titulo__dados, .titulo__senha, .titulo__excluir {
    color: var(--var-preto);
    font-family: var(--fonte-fred);
    font-size: 3.8rem;
}


.input__dados {
    margin-top: 35px;
}

.input__name, .input__email {
    margin-top: 34px;
    border: 0;
    border-bottom: 2px solid var(--var-azul);
    outline: none;
    box-sizing: border-box;
    width: 100%;
}

.label__name, .label__email {
    margin-top: 34px;
    color: var(--var-azul);
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 1.6rem;
    cursor: text;
    box-sizing: border-box;
}



.botao__dados {
    border: none;
    border-radius: 50px;
    background-color: #254872;
    color: #f9f9f9;
    font-family: 'Karla', sans-serif;
    font-size: 14px;
    margin-top: 32px;
    padding: 16px;
    width: 100%;
    height: 53px;
}


/* Divs, inputs e titulo - senha */

.senha {
    margin-top: 40px;
}


.input__senha {
    margin-top: 35px;
}

.input__senhaA, .input__senhaN, .input__senhaC {
    margin-top: 34px;
    border: 0;
    border-bottom: 2px solid #254872;
    outline: none;
    box-sizing: border-box;
    width: 100%;
}

.label__senhaA, .label__senhaN, .label__senhaC {
    margin-top: 34px;
    color: #254872;
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 16px;
    cursor: text;
    box-sizing: border-box;
}



.botao__senha {
    border: none;
    border-radius: 50px;
    background-color: #254872;
    color: #f9f9f9;
    font-family: 'Karla', sans-serif;
    font-size: 14px;
    padding: 16px;
    width: 100%;
    height: 53px;
    margin-top: 32px;
}

/* Divs Excluir */

.excluir {
    margin-top: 40px;
}

.excluir__paragrafo {
    font-family: 'Karla', sans-serif;
    max-width: 403px;
    margin-top: 24px;
    font-size: 18px;
}

.botao__excluir {
    border: none;
    border-radius: 50px;
    background-color: #ED4949;
    color: #f9f9f9;
    font-family: 'Karla', sans-serif;
    font-size: 14px;
    padding: 16px;
    width: 100%;
    height: 53px;
    margin-top: 32px;
}

/* Ilustração */

.ilustracao__perfil {
    background-image: url('../../../../assets/img/ilustracao-perfil.png');
    width: 563px;
    height: 563px;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-top: 120px;
}

