body {
    font-size: 100%;
}

.modal-container {
    background-color: var(--var-branco);
}

.modal-header {
    padding: 1.6rem;
}

.modal-title {
    font-size: 2.4rem;
    font-family: var(--fonte-fred);
}

.close {
    font-size: 2.4rem;
    background-color: var(--var-branco);
    border: none;
    outline: 0;

}

.close > span:hover {    
    color: var(--var-vermelho);
    transition: all 200ms;
}

.modal-label,
.modal-control {
    color: var(--cor-cinza);
    display: block;
    font-size: 1.6rem;
    font-family: var(--fonte-karla);
    border-radius: 5px;
}

.modal-label {
    margin-bottom: 1.6rem;
}

.modal-control {
    border: none;
    background-color: var(--var-cinza);
    outline: 0;
    padding: 1.6rem 2.4rem;
    width: 100%;
}

.modal-btn {
    border: none;
    border-radius: 50px;
    background-color: var(--var-vermelho);
    color: var(--var-branco);
    font-family: var(--fonte-karla);
    font-size: 1.6rem;
    padding: 1.6rem 2.4rem;
    transition: all 150ms;
}

.modal-btn:hover {
    opacity: 0.8;
}
