:root {
    --var-azul: #254872;
    --var-branco: #F9F9F9;
    --var-preto: #404040;
    --var-cinza: #E7E7E7;
    --var-vermelho: #ED4949;
    --var-vermelho: #12A13A;
    --fonte-karla: 'Karla', sans-serif;
    --fonte-fred: 'Fredericka the Great', cursive;
    font-size: 62.5%;
}

