:root {
    --var-azul: #254872;
    --var-branco: #F9F9F9;
    --var-preto: #404040;
    --var-cinza: #E7E7E7;
    --var-vermelho: #ED4949;
    --var-verde: #12A13A;
    --var-amarelo: #EDCF61;
    --fonte-karla: 'Karla', sans-serif;
    --fonte-fred: 'Fredericka the Great', cursive;
    font-size: 62.5%;
}

body {
    background-color: var(--var-branco);
}

th {
    font-weight: bold;
}