<app-navbar-int></app-navbar-int>
<div class="container">
    <div class="row justify-content-between align-items-center mes">
        <a href="#" class="mes__anterior">keyboard_arrow_left</a>
        <div class="mes__input col-md-10">
            <input type="month" class="mes__control">
        </div>
        <a href="#" class="mes__seguinte">keyboard_arrow_right</a>
        <hr>
    </div>
    <div class="row justify-content-between dashboard__container">
        <div class="col-md-3">
            <div class="dashboard">
                <h3 class="dashboard__card__titulo">Gasto mensal</h3>
                <hr>
                <table class="table table-borderless dashboard__table">
                    <tr class="dashboard__table__row align-right">
                        <th scope="row">Receitas</th>
                        <td>R$ 3226,45</td>
                    </tr>
                    <tr class="dashboard__table__row align-right">
                        <th scope="row">Despezas</th>
                        <td>R$ 1584,49</td>
                    </tr>
                </table>
                <hr>
                <table class="table table-borderless dashboard__table">
                    <tr class="dashboard__table__row align-right">
                        <th scope="row">Total</th>
                        <td>R$ 1584,49</td>
                    </tr>
                </table>
            </div>
            <div class="dashboard">
                <h3 class="dashboard__card__titulo">Minhas contas</h3>
                <hr>
                <table class="table table-borderless dashboard__table">
                    <tr class="dashboard__table__row align-right">
                        <th scope="row">Carteira</th>
                        <td>R$ 3226,45</td>
                    </tr>
                    <tr class="dashboard__table__row align-right">
                        <th scope="row">Poupança</th>
                        <td>R$ 1584,49</td>
                    </tr>
                </table>
                <hr>
                <table class="table table-borderless dashboard__table">
                    <tr class="dashboard__table__row align-right">
                        <th scope="row">Total</th>
                        <td>R$ 1584,49</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-9">
            <div class="dashboard table-responsive table__maxHeight">
                <table class="table dashboard__table table-hover table-striped">
                    <thead>
                        <tr class="dashboard__table__row dashboard__table__titulo">
                            <th scope="col">Descrição</th>
                            <th scope="col">Data</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Conta</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="dashboard__table__row dashboard__table__gastos">
                            <td>Jantar</td>
                            <td>30/10/2021</td>
                            <td>Alimentação</td>
                            <td>Carteira</td>
                            <td>R$ 31,90</td>
                            <td class="dashboard__table__icons">
                                <a href="#">edit</a>
                                <a href="#">delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row justify-content-between dashboard__paineis">
        <h1 class="dashboard__titulo">Dashboard</h1>
        <hr>
        <div class="col-md-4">
            <div class="dashboard">
                <h3 class="dashboard__card__titulo">Gastos por categoria</h3>
                <hr>
                <div class="dashboard__charts">
                    <p-chart type="pie" [data]="data" [options]="chartOptions" [style]="{'width': '40%'}"></p-chart>
                </div>

            </div>
        </div>
        <div class="col-md-8">
            <div class="dashboard">
                <h3 class="dashboard__card__titulo">Análise mensal</h3>
                <hr>
                <div class="dashboard__charts">
                    <p-chart type="line" [data]="data" [options]="basicOptions"></p-chart>
                </div>
            </div>
        </div>
    </div>
</div>
<app-btn-actions class="container-btn"></app-btn-actions>
<app-rodape></app-rodape>