<nav class="menu">
    <img class="menu__img" src="../../../../assets/img/logo-economize.png" width="103px" height="75px">

        <ul class="menu__lista">
            <li class="menu__lista__items"><a href="perfil">Meu perfil</a></li>
            <li class="menu__lista__items"><a href="transacoes">Minhas transações</a></li>
            <li class="menu__lista__items"><a href="investimentos">Meus investimentos</a></li>
            <li class="menu__lista__items"><a (click)="sair()">Sair</a></li>
        </ul>
</nav>