/* Actions */

.container-btn {
    position: fixed;
    left: 0;
    bottom: 70px;
}

.container-btn {
    display: block;

}

.btn-actions {
    color: var(--var-branco);
    border-radius: 100%;
    border: none;
    display: block;
    font-family: 'Material Icons', sans-serif;
    font-size: 2.4rem;
    transition: all 150ms;
    margin: 0 0 0.8rem 0.8rem;
}

.btn-actions:hover {
    opacity: 0.8;
}
.btn-conta{
    padding: 0.8rem;
    background-color: var(--var-vermelho);
}

.btn-categoria {
    padding: 0.8rem;
    background-color: var(--var-preto);
}