<div class="container sobre">
    <div class="row justify-content-center">
        <h2 class="sobre__titulo">Quem somos?</h2>
    </div>
    <div class="row justify-content-center container__mensagem">
        <div class="col-md-6">
            <div class="row justify-content-between">
                <div class="col-md-12">
                    <div class="row justify-content-between sobre__mensagem">
                        <div class="col-md-2 sobre__mensagem__pessoa">
                            <img  class="sobre__mensagem__img" src="../../../../../../assets/img/img-thallys.png">
                            <div class="sobre__mensagem__icons">
                                <a href="#" class="sobre__mensagem__icone"><fa-icon [icon]="faInstagramSquare"></fa-icon></a>
                                <a href="#" class="sobre__mensagem__icone"><fa-icon [icon]="faLinkedin"></fa-icon></a>
                                <a href="#" class="sobre__mensagem__icone"><fa-icon [icon]="faGithubSquare"></fa-icon></a>
                            </div>
                        </div>
                        <div class="col-md-10 container__seta-esquerda">
                            <p class="sobre__mensagem__texto seta-esquerda">Olá, eu sou o Thallys, tenho 20 anos, sou estudante do curso de Análise e desenvolvimento de sistemas na faculdade projeção. e também desenvolvedor nas horas vagas.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-md-12 sobre__mensagem">
                    <div class="row justify-content-between">
                        <div class="col-md-10 container__seta-direita">
                            <p class="sobre__mensagem__texto sobre__mensagem__texto--bordaDireita seta-direita">Oi, eu sou o João Victor, tenho 19 anos, sou estudante de TI, desenvolvedor por paixão e nerd nas horas vagas.</p>
                        </div>
                        <div class="col-md-2 sobre__mensagem__pessoa">
                            <img  class="sobre__mensagem__img" src="../../../../../assets/img/img-joao.png">
                            <div class="sobre__mensagem__icons">
                                <a href="#" class="sobre__mensagem__icone"><fa-icon [icon]="faInstagramSquare"></fa-icon></a>
                                <a href="#" class="sobre__mensagem__icone"><fa-icon [icon]="faLinkedin"></fa-icon></a>
                                <a href="#" class="sobre__mensagem__icone"><fa-icon [icon]="faGithubSquare"></fa-icon></a>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>
