<app-navbar-ext></app-navbar-ext>
<div class="container container__erro">
    <div class="row justify-content-evenly align-items-center">
        <div class="col-6 erro">
            <h1 class="erro__titulo">Usuário não autenticado</h1>
            <p class="erro__texto">Volte para a página principal para fazer o login.</p>
            <a class="erro__botao" href="home"><button>Retornar a página principal</button></a>
        </div>
        <div class="col-6 erro__img">
            <div></div>
        </div>
    </div>
</div>
<app-rodape></app-rodape>